.pg-landing {
	section {
		position: relative;
		&#section-2 {
			background-color: #B5BFC8;
			.bg-icon {
				position: absolute;
				right: 0;
				top: 70px;
			}
		}
		&#section-3 {
			background-color: #FFE169;
			.left {
				display: flex;
				flex-direction: column;
				align-items: flex-end;
				h1 {
					text-align: right;
				}
				p {
					width: 80%;
				}
			}
			.bg-icon {
				position: absolute;
				left: 0;
				top: 160px;
			}
			.img-girl {
				position: absolute;
				right: -10%;
				height: 100%;
			}
		}
		&#section-4 {
			padding: 70px 0;
			background-color: #62CBCF;
			overflow: hidden;
			.wrapper {
				h1 {
					&.hidden-sm {
						text-align: center;
						font-size: 50px;	
						color: white;
					}
				}
				p {
					&.hidden-sm {
						text-align: center;
						color: #565656;
					}	
				}
				.glam-images-content {
					width: 110%;
					left: -5%;
					position: relative;
					display: flex;
					align-items: flex-end;
					img {
						width: 100%;
					}
					p {
						color: white;
					}
					div.device {
						text-align: center;
					}
					.glam-profile {
						width: 45%;
					}
					.glam-dashboard {
						width: 55%;
					}
					.glam-session {
						position: absolute;
						left: 40%;
						width: 15%;
						bottom: -50px;
					}
				}	
			}
		}
		&#section-5 {
			background-color: #62CBCF;
			.bg-icon {
				position: absolute;
				right: 0;
				top: 0;
			}
			.img-girl {
				position: absolute;
				left: -10%;
				height: 100%;
			}
		}

		&#section-6 {
			background-color: #F2C8CC;
			.img-girl {
				position: absolute;
				left: -10%;
				height: 100%;
			}
			ul.perks {
				list-style: none;
				padding: 0;
				li {
					display: flex;
					align-items: center;
					color: #565656;
					margin: 10px 0;
					.img-perk {
						width: 50px;
						margin-right: 20px;
						img {
							width: 100%;
						}
					}
					span {
						font-size: 20px;
					}
				}
			}
		}
	}
	@include breakpoint(xs) {
		section {
			&#section-4 {
				overflow: hidden;
			}
			&#section-2 {
				.bg-icon {
					width: 170px;	
					top: 40px;
				}
			}
			&#section-3 {
				.left {
					h1 {
						text-align: center;
					}
				}
				.bg-icon {
					right: 0;
					width: 100px;
					top: 30px;
					left: auto;
					transform: scaleX(-1);
				}
			}
			&#section-4 {
				.wrapper {
					.glam-images-content {
						width: 100%;
						left: 0;
						flex-direction: column;
						p.hidden-sm {
							width: 100%;
						}
						.glam-profile {
							width: 120%;
						}
						.glam-dashboard {
							width: 140%;
							margin-right: -40%;
						}
						.glam-session {
					    top: 40%;
					    left: 5%;
					    width: 40%;
						}
					}
				}
				.bg-icon {
					position: absolute;
					width: 150px;
					top: 30px;
					right: 0;
				}
			}
			&#section-5 {
				.bg-icon {
					width: 150px;
					top: 30px;
				}
			}
			&#section-6 {
				ul.perks {
					li {
						justify-content: center;
						span {
							font-size: 16px;
						}
					}
				}
			}
		}
	}
}
