footer {
	background-color: #474747;
	padding: 100px 0 80px;
	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		.footer-logo {

		}
		.footer-menu {
			ul {
				margin: 0;
				list-style: none;
				padding: 0;
				li {
					a {
						color: #B0B0B0;
						font-size: 18px;
					}
				}
			}
		}
	}
	@include breakpoint(xs) {
		.wrapper {
			flex-direction: column;
			align-items: center;
			.footer-menu {
				margin-top: 60px;
			}
		}
	}
}