section {
	&.testimonials {
		display: flex;
		justify-content: space-around;
		.testimonial {
			background: red;
			color: white;
			flex: 1 0 auto;
			height: auto;
			position: relative;
			width: 25%;
			&:before {
				content: '';
				float: left;
				padding-top: 100%;
			}
			img {
				width: 100%;
				height: 100%;
			}
			.content {
				position: absolute;
				bottom: 30px;
				padding: 0 30px;
			}
		}
	}
	@include breakpoint(xs) {
		&.testimonials {
			flex-wrap: wrap;
			.testimonial {
				width: 50%;
				.content {
					.comment, .poster-name {
						font-size: 12px;
					}
				}
			}
		}
	}
}