$font-family-primary: 'Avenir', sans-serif;
$font-family-highlight: 'DIN Condensed', sans-serif;

@font-face {
	font-family: 'DIN-Condensed';
    src: url('assets/fonts/DIN-Condensed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}